
// FONT AND TYPOGRAFY:
$font-abril-fatface: 'Abril Fatface', cursive;
$font-raleway: 'Raleway', sans-serif;
$font-poppins: 'Poppins', sans-serif;

// PRIMARY TONES:
$primary-color-black: #000000;
$primary-color-white: #FFFFFF;
// SECONDARY TONES:
$secondary-color-gold: #FFBA60;
$secondary-color-palid-gray: rgba(133, 133, 133, 1);
//HOVER TONES:
$hover-color-black: rgba(0, 0, 0, 0.75);